body {
  box-sizing: border-box;
}

/* 헤더 */
header {
  height: 70px;
  background-color: #fff;
}
header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header h1 {
  display: inline-block;
  padding-top: 4px;
}
header h1 img {
  width: 60px;
}
header nav {
  display: inline-block;
  padding-top: 2px;
}
header nav i {
  font-size: 20px;
}

/* 섹션 id: banner */
section#banner {
  height: 650px;
  background-color: #28324d;
}
section#banner .banner-container {
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  height: 100%;
}

section#banner .banner-container article {
  background-color: #fff;
  flex: 1;
  /* flex: 0 0 50%; */
  text-align: center;
}

section#banner .banner-container article i {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 20px;
}

section#banner .banner-container article h2 {
  text-transform: uppercase;
  font-size: 5rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  line-height: 85px;
  margin-bottom: 12px;
}

section#banner .banner-container article p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 8px;
  margin-bottom: 50px;
  font-weight: 900;
}

section#banner .banner-container article button {
  text-transform: uppercase;
  background-color: rgb(147, 191, 204);
  border: none;
  padding: 12px 30px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
  color: rgb(45, 77, 89);
  outline: none;
  cursor: pointer;
}

section#banner .banner-container article button:hover {
  background-color: rgb(134, 176, 189);
}

section#banner .banner-container > div {
  background-color: #555;
  flex: 1;
  background-image: url("./12-min.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  /* background-position-x: -80px; */
  background-position: 60% 50%;
  /* background-position: center; */
  font-size: 0;
}

/* 섹션 id: features */
section#features {
  height: 520px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
section#features > .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}
section#features article {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%; */
  flex: 0 1 40%;
  position: relative;
  padding-top: 50px;
}
section#features article span {
  position: absolute;
  background-color: rgb(147, 191, 204);
  padding: 17px;
  border-radius: 50%;
}
section#features article span i {
  font-size: 28px;
  color: rgb(45, 77, 89);
}
section#features article h3 {
  margin-left: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
section#features article p {
  margin-left: 90px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 25.6px;
}

/* 섹션 id: about-student */
section#about-student {
  height: 600px;
  background-color: rgb(52, 90, 104);
}
section#about-student > .container {
  position: relative;
  height: 100%;
}
section#about-student .container div {
  background-image: url(./df.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 60px;
  font-size: 0;
}
section#about-student .container article {
  width: 50%;
  margin: 0 0 0 auto;
  color: #f5f5f5;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-top: 60px;
}
section#about-student .container article h4 {
  font-size: 48px;
  margin-left: 40px;
  margin-bottom: 40px;
}
section#about-student .container article p {
  font-size: 20px;
  margin-left: 40px;
  line-height: 30px;
  width: 80%;
  margin-bottom: 60px;
}
section#about-student .container article button {
  margin-left: 40px;
  padding: 12px 50px;
  color: #f5f5f5;
  background: none;
  border: 2px solid #f5f5f5;
  font-size: 16px;
  cursor: pointer;
}

section#about-student .container article button:hover {
  color: #e0dfdf;
  border: 2px solid #e0dfdf;
}

/* 섹션 id: phrase */
section#phrase {
  height: 450px;
  background-color: rgb(237, 245, 248);
  padding-top: 160px;
}

section#phrase .container {
  height: 100%;
}
section#phrase .container h4 {
  font-family: "Raleway", sans-serif;
  font-size: 55px;
  width: 700px;
}
section#phrase .container p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  color: #999;
  width: 555px;
  line-height: 25px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 80px;
}

/* 섹션 id: section1 */
section#section1 {
  height: 1100px;
  background-color: rgb(52, 90, 104);
}

section#section1 .container {
  position: relative;
}

section#section1 .container .section1-card {
  position: absolute;
  left: 0px;
  top: 100px;
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  z-index: 1;
}

section#section1 .container .section1-card div {
  flex-basis: 40%;
  background-color: #fff;
  text-align: center;
  margin: 9px;
}

section#section1 .container .section1-card p.card-number {
  color: rgb(52, 90, 104);
  font-family: "Oswald", sans-serif;
  font-size: 65px;
  margin-top: 40px;
  margin-bottom: 10px;
}

section#section1 .container .section1-card p.card-content {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  width: 220px;
  display: inline-block;
}

section#section1 .container .section1-card p.card-more {
  margin-top: 30px;
  margin-bottom: 40px;
}

section#section1 .container .section1-card p.card-more a {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid rgb(52, 90, 104);
  padding-bottom: 5px;
}

section#section1 .container .section1-card p.card-more a:hover {
  color: rgb(52, 90, 104);
  border-bottom: 2px solid #000;
}

section#section1 .container .section1-image {
  width: 962px;
  margin-left: 145px;
}
section#section1 .container .section1-image img {
  /* width: 962px; */
  width: 100%;
  margin-top: 320px;
  height: auto;
}

/* 섹션 id: section2 */
section#section2 {
  height: 700px;
  background-image: url(./pexels-photo-3931550.jpeg);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
}

/* 섹션 id: section3 */
section#section3 {
  height: 470px;
  background-color: rgb(237, 245, 248);
}

section#section3 .container {
}

section#section3 .container p {
  margin: 0 auto;
  width: 740px;
  font-family: "Raleway", sans-serif;
  color: #3a606c;
  line-height: 48px;
  font-size: 30px;
  padding-top: 120px;
}

/* 섹션 id: nature */
section#nature {
  height: 600px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url(./sx-min.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
}

section#nature .container {
  color: #fff;
  display: flex;
  padding-top: 300px;
  /* justify-content: space-around; */
}
section#nature .container #nature-title {
  flex-basis: 50%;
}
section#nature .container #nature-title h4 {
  font-family: Raleway, sans-serif;
  font-size: 72px;
  display: inline;
  margin: 0 auto;
}
section#nature .container #nature-content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  flex-basis: 50%;
}
section#nature .container #nature-content p {
  line-height: 25px;
  letter-spacing: 2px;
  width: 400px;
  margin-bottom: 65px;
}
section#nature .container #nature-content button {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 28px;
}

/*  */
section#comments {
  height: 450px;
  background-color: #1b5e20;
}

/*  */
footer#sns {
  height: 80px;
  background-color: #b9f6ca;
}

/* 컨테이너 */
.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  section#section1 .container .section1-image {
    width: 666px;
    margin-left: 265px;
    overflow: hidden;
  }
  section#section1 .container .section1-image img {
    width: 850px;
    margin-top: 340px;
    height: auto;
  }

  /* 섹션 id: section2 */
  section#section2 {
    height: 560px;
    /* background-position: center 30%; */
  }
}
