/* css 파일에 있는 한글 깨짐 방지 */
@charset "utf-8";

/* body {
  margin: 0;
  padding: 0;
} */

/* 스킵 네비게이션 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0px;
  top: -40px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #333;
  line-height: 30px;
  width: 140px;
  text-align: center;
}
#skip a:active,
#skip a:focus {
  /* 탭 키 눌렀을때...-> active, focus */
  top: 0px;
}

/* 레이아웃 */
#wrap {
}
#header {
  height: 325px;
  /* 배경 이미지를 가운데 위쪽에 고정 -> center top */
  /* 배경 이미지가 수직 방향으로 반복되는것을 x축 방향으로 반복되도록 -> repeat-x */
  background: url(../image/header_bg.jpg) center top repeat-x;
}
#content {
  height: 800px;
  background-color: rgb(199, 141, 150);
}
#footer {
  height: 200px;
  background-color: rgb(141, 99, 105);
}

/* 컨텐츠 레이아웃 */
#content-nav {
  height: 200px;
  background-color: rgb(179, 224, 241);
}
#content-title {
  height: 200px;
  background-color: rgb(163, 206, 221);
}
#content-banner {
  height: 200px;
  background-color: rgb(145, 183, 197);
}
#content-content {
  height: 200px;
  background-color: rgb(121, 152, 163);
}
/* 컨테이너 */
.container {
  width: 990px;
  margin: 0 auto;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 헤더 */
.header {
}
.header .header-menu {
  text-align: right;
}
.header .header-menu a {
  color: #fff;
  padding: 10px 0px 10px 13px;
  /* a태그는 inline 속성이기 때문에 위, 아래 패딩이 적용되지 않음 
  그래서 display 속성을 inline-block으로 바꿔준다*/
  display: inline-block;
}
.header .header-menu a:hover {
  color: #666;
}

.header .header-title {
  text-align: center;
}
.header .header-title h1 {
  font-size: 28px;
  background-color: #4aa8d4;
  padding: 5px 20px 6px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
.header .header-title a {
  display: inline-block;
  background-color: #2698cb;
  font-size: 18px;
  color: #fff;
  padding: 5px 20px 6px 20px;
  margin-top: -5px;
}

.header .header-icon {
  text-align: center;
  margin-top: 30px;
}

.header .header-icon a {
  width: 60px;
  height: 60px;
  background: url(../image/icon.png);
  display: inline-block;
  margin: 0 3px;
}

/* ** 이미지 스프라이트 기법..** */
.header .header-icon a.icon1 {
  background-position: 0 0;
}
.header .header-icon a.icon2 {
  background-position: 0 -60px;
}
.header .header-icon a.icon3 {
  background-position: 0 -120px;
}
.header .header-icon a.icon4 {
  background-position: 0 -180px;
}
.header .header-icon a.icon1:hover {
  background-position: -60px 0;
}
.header .header-icon a.icon2:hover {
  background-position: -60px -60px;
}
.header .header-icon a.icon3:hover {
  background-position: -60px -120px;
}
.header .header-icon a.icon4:hover {
  background-position: -60px -180px;
}
